<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/free-jqgrid/css/ui.jqgrid.min.css" />

<table id="visitorGrid"></table>

<div id="visitorPager"></div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/free-jqgrid/js/jquery.jqgrid.min.js"></script>

<script src="~/js/visitor.js"></script>